@charset "UTF-8";

body {
	background: #EBF5DF;
}

.title {
/* 	background: #BAD4AA; */
	text-align: center;
	/* 	background: url(../img/title.png) no-repeat; */
	/*     background-size:100% 100%; */
	/*     height:100px; */
}

.left-div{
	width:12%;
/* 	padding-left:10px; */
}
.right-div{
	width:88%;
	padding-left:10px;
/* 	padding:0 10px; */
}

.hidden{
	display:none;
}

.bg0{
	background: #FFFFFF;
}
.bg1{
	background: #ECF5E0;
}
.bg2{
	background: #B9D4A9;
}
.bg3{
	background: #D3D4AA;
}
.bg4{
	background: #C1A075;
}
.bg5{
	background: #7D6354;
}

.mytable{
	background: #ECF5E0;
}

.smFont{
	font-size:8px;
}
.midFont{
	font-size:12px;
}
.largeFont{
	font-size:16px;
}