<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
<title>小说辅助器</title>
<!--  导入Bootstrap和JQuery -->
<link href="css/lib/bootstrap.min.css" rel="stylesheet" />
<script src="js/lib/jquery.min.js"></script>
<script src="js/lib/bootstrap.bundle.min.js"></script>
<!-- <script src="js/lib/bootstrap.min.js"></script> -->
<!-- 导入wangEditor-->
<script type="text/javascript" src="/js/lib/wangEditor.min.js"></script>
<!-- 自定义的css样式 -->
<link href="css/mycommons.css?v=0.7" rel="stylesheet">
<!-- 自定义的js脚本 -->
<!-- 工具层 -->
<script src="js/util/MyUtil.js?v=0.1"></script>
<!-- 全局层 -->
<script src="js/global/IndexUtil.js?v=0.1"></script>
<script src="js/global/globalVar.js?v=0.2"></script>
<script src="js/global/changeDiv.js?v=0.1"></script>
<!-- 数据获取层 -->
<script src="js/refresh/BookManageRefresh.js?v=0.3"></script>
<script src="js/refresh/ChapterManageRefresh.js?v=0.3"></script>
<script src="js/refresh/CharacterManageRefresh.js?v=0.1"></script>
<script src="js/refresh/EventManageRefresh.js?v=0.1"></script>
<!-- 监听器层 -->
<script src="js/listener/myListener.js?v=0.4"></script>
<script src="js/listener/onclick/BookManageOnClick.js?v=0.1"></script>
<script src="js/listener/onclick/ChapterManageOnClick.js?v=0.1"></script>
<script src="js/listener/onclick/CharacterManageOnClick.js?v=0.1"></script>
<script src="js/listener/onclick/EventManageOnClick.js?v=0.1"></script>
<!-- 初始化层 -->
<script src="js/afterLoad.js?v=0.1"></script>
<!-- 测试用css -->
<style type="text/css">
</style>
<!-- 测试用script -->
<script type="text/javascript">
	$(function() {
		// 		$("#book_list_btn").click();
		// 		viewAndRefreshChapterList(1);
		// 		viewUpdateContent(1,"测试章节1");

		// 		$("#update_book_form_change_btn").click();
	});
	//原理很简单，就是在body的onbeforeunload事件绑定函数，代码如下：        

	window.onbeforeunload = function(event) {
		var c = event || window.event;
		if (/webkit/.test(navigator.userAgent.toLowerCase())) {
			return "离开页面将导致数据丢失！";
		} else {
			c.returnValue = "离开页面将导致数据丢失！";
		}
	}
</script>
</head>
<body>
	<!-- 	全局标题div -->
	<div id="title_div" class="title bg2 ">
		<!-- 	全局标题 -->
		<h1 id="title">小说辅助器</h1>
	</div>
	<!-- 	全局容器div -->
	<div id="container_div" class="container bg3">
		<!-- 	菜单栏ul -->
		<ul id="menu_bar_ul" class="nav nav-tabs">
			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle active" data-toggle="dropdown">生成器</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" id="test"
						onclick="changeWithTitleWithActiveTab('name_create_div','人名生成器',this);">人名生成器</a>
					<a class="dropdown-item"
						onclick="changeWithTitleWithActiveTab('place_create_div','地名生成器',this);">地名生成器</a>
				</div></li>
			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" data-toggle="dropdown">书籍管理器</a>
				<div class="dropdown-menu">
					<a id="book_list_btn" class="dropdown-item"
						onclick="changeWithTitleWithActiveTab('book_list_content_div','书籍管理器',this);">书籍管理器</a>
					<a class="dropdown-item" data-toggle="modal"
						data-target="#select_file_div">书籍导入</a>
				</div></li>
			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" data-toggle="dropdown">章节管理器</a>
				<div class="dropdown-menu">
					<a id=chapter_manage_btn class="dropdown-item"
						onclick="changeWithTitleWithActiveTab('chapter_manage_content_div','章节管理器',this);">章节列表</a>
				</div></li>
			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" data-toggle="dropdown">人物管理器</a>
				<div class="dropdown-menu">
					<a id="character_manage_btn" class="dropdown-item"
						onclick="changeWithTitleWithActiveTab('character_manage_content_div','人物管理器',this);">人物管理器</a>
					<a class="dropdown-item"
						onclick="changeWithTitleWithActiveTab('people_relationship_div','人物关系图',this);">人物关系图</a>
					<a class="dropdown-item"
						onclick="changeWithTitleWithActiveTab('people_create_div','人物生成器',this);">人物生成器</a>
				</div></li>

			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" data-toggle="dropdown">事件管理器</a>
				<div class="dropdown-menu">
					<a id="event_manage_btn" class="dropdown-item"
						onclick="changeWithTitleWithActiveTab('event_manage_content_div','事件管理器',this);">事件管理器</a>
				</div></li>
			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" data-toggle="dropdown">用户</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="login.do">登录注册 </a> <a
						class="dropdown-item"
						onclick="changeWithTitleWithActiveTab(('my_info_div'),'我的资料 ',this);">我的资料
					</a> <a class="dropdown-item" href="invalidate.do">注销 </a>
				</div></li>
		</ul>
		<!-- 		菜单栏下侧div容器 -->
		<div id="below_container_div" style="padding: 10px; height: 100%;">
			<!-- --------------------------------人名生成器--------------------------------------------- -->
			<div id="name_create_div" class="tab-item row">
				<div class="col-md-3">
					<div id="create-way-div1" class="form-group row">
						<label class="col-md-5" for="create-way1">生成风格：</label> <select
							id="create-way1" class="form-control col-md-7">
							<option value="0" selected>普通名字</option>
							<!-- 							<option value="1">玄幻风格</option> -->
						</select>
					</div>
					<div id="create-num-div1" class="form-group row">
						<label for="create-num1" class="control-label col-md-5">生成数量：
						</label>
						<div class="col-md-7">
							<input id="create-num1" class="form-control" type="text"
								value="100" />
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div id="xing-num-div" class="form-group row">
						<label class="col-md-6" for="xing-num">单双姓：</label> <select
							id="xing-num" class="form-control col-md-6">
							<option value="0">全部</option>
							<option value="1" selected>单姓</option>
							<option value="2">双姓</option>
						</select>
					</div>
					<div id="ming-num-div" class="form-group row">
						<label class="col-md-6 control-label" for="ming-num">单双名：
						</label> <select id="ming-num" class="form-control col-md-6"
							style="width: 100px">
							<option value="0">全部</option>
							<option value="1">单名</option>
							<option value="2">双名</option>
						</select>
					</div>
				</div>
				<div id="sex-div" class="col-md-3">
					<div class="form-group row">
						<label class="col-md-5" for="sex">性别：</label> <select id="sex"
							class="form-control col-md-7">
							<option value="0">全部</option>
							<option value="1">男</option>
							<option value="2">女</option>
						</select>
					</div>
				</div>
				<div class="col-md-2">
					<button type="button" id="create-btn1" class="btn btn-primary"
						data-toggle="tooltip" data-placement="top" title="点击生成人名">人名生成</button>
				</div>
				<div id="result-div1" class="col-md-12"></div>
			</div>

			<!-- --------------------------------人物生成器--------------------------------------------- -->
			<div id="people_create_div" class="tab-item row">人物生成器</div>

			<!-- --------------------------------地名生成器--------------------------------------------- -->
			<div id="place_create_div" class="tab-item row">
				<div class="col-md-3">
					<div id="create-way-div3" class="form-group row">
						<label class="col-md-5" for="create-way3">生成风格：</label> <select
							id="create-way3" class="form-control col-md-7">
							<option value="0" selected>玄幻风格地名</option>
						</select>
					</div>
					<div id="create-num-div3" class="form-group row">
						<label for="create-num3" class="control-label col-md-5">生成数量：
						</label>
						<div class="col-md-7">
							<input id="create-num3" class="form-control" type="text"
								value="100" />
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<button type="button" id="create-btn3" class="btn btn-primary"
						data-toggle="tooltip" data-placement="top" title="点击生成地名">地名生成</button>
				</div>
				<div id="result-div3" class="col-md-12"></div>
			</div>

			<!-- --------------------------------事件管理器--------------------------------------------- -->
			<!-- 		事件管理器容器div,一级div -->
			<div id="event_manage_content_div" class="tab-item row">
				<!-- 			事件管理器隐藏书籍id -->
				<input type="hidden" id="book_id_in_event_manage_hidden" value="0" />
				<!-- 			事件管理左侧容器div,二级div -->
				<div id="event_manage_left_content_div"
					class="list-group bg3 left-div">
					<!-- 					事件列表导航按钮 -->
					<a id="event_list_change_btn"
						class="list-group-item list-group-item-action bg3 active"
						onclick="changeRightWithActiveTab('event_list_rignt_div',this)">事件列表</a>
					<!-- 					    切换删除事件按钮 -->
					<a id="delete_event_change_btn"
						class="list-group-item list-group-item-action bg3"
						onclick="changeEventFlgAndBtnNameWithActive(this,1)">删除事件</a>
					<!-- 						切换修改信息按钮 -->
					<a id="event_message_change_btn"
						class="list-group-item list-group-item-action bg3"
						onclick="changeEventFlgAndBtnNameWithActive(this,2)">修改信息</a>
					<!-- 						切换查看信息按钮 -->
					<a id="event_detail_change_btn"
						class="list-group-item list-group-item-action bg3"
						onclick="changeEventFlgAndBtnNameWithActive(this,3)">事件详细</a>
					<!-- 						切换新增事件按钮-->
					<a id="add_event_change_btn"
						class="list-group-item list-group-item-action bg3"
						onclick="changeEventFlgAndBtnNameWithActive(this,5)">新增事件</a>
					<!-- 						切换查找事件按钮 -->
					<!-- 					<a id="event_select_change_btn" -->
					<!-- 						class="list-group-item list-group-item-action bg3" -->
					<!-- 						onclick="changeEventFlgAndBtnNameWithActive(this,6)">查找事件</a> -->
				</div>
				<!-- 				事件管理器右侧容器div，二级div -->
				<div id="event_manage_rignt_content_div" class="right-div">
					<!-- 				事件列表右侧div，三级div -->
					<div id="event_list_rignt_div" class="mytableContentFixedDiv">
						<table id="event_list_table"
							class="table table-striped table-bordered table-hover mytable midFont">
							<!-- 						事件列表表格thead -->
							<thead id="event_list_table_thead">
								<tr>
									<th>事件名</th>
									<th>事件介绍</th>
									<th>事件起因</th>
									<th>事件结果</th>
									<th>创建日期</th>
									<th>上次修改</th>
									<th>操作</th>
								</tr>
							</thead>
							<!-- 						事件列表表格tbody -->
							<tbody id="event_list_table_tbody">
							</tbody>
						</table>
					</div>
					<!-- 				事件表单右侧div,三级div -->
					<div id="update_event_form_right_div" class="hidden">
						<!-- 					事件表单标题 -->
						<h1 id="update_event_title">新增事件</h1>
						<!-- 						事件表单 -->
						<form class="form-horizontal" id="update_event_form" role="form"
							method="post">
							<div class="form-group">
								<input type="hidden" id="ev_id_text" name="evId" value="0" />
							</div>
							<div class="form-group row">
								<label for="ev_name_text" class="col-sm-2 ">事件名:</label>
								<div class="col-sm-4">
									<input type="text" id="ev_name_text" name="evName"
										class="form-control evChange" placeholder="事件名" />
								</div>
							</div>
							<div class="form-group row">
								<label for="ev_intro_text" class="col-sm-2 ">事件介绍:</label>
								<div class="col-sm-10">
									<textarea placeholder="事件介绍" id="ev_intro_text" name="intro"
										class="form-control evChange" rows="10"></textarea>
								</div>
							</div>
							<div class="form-group row">
								<label for="ev_origin_text" class="col-sm-2 ">事件起因:</label>
								<div class="col-sm-10">
									<textarea placeholder="事件起因" id="ev_origin_text" name="intro"
										class="form-control evChange" rows="5"></textarea>
								</div>
							</div>
							<div class="form-group row">
								<label for="ev_result_text" class="col-sm-2 ">事件结果:</label>
								<div class="col-sm-10">
									<textarea placeholder="事件结果" id="ev_result_text" name="intro"
										class="form-control evChange" rows="5"></textarea>
								</div>
							</div>
							<div class="form-group row">
								<label for="ev_ch_btn" class="col-sm-2 ">参与人物:</label>
								<div class="col-sm-4">
									<input id="ev_ch_add_btn" class="btn btn-primary"
									type="button" value="添加" onclick="alert('没写')" />
								</div>
							</div>
							<div class="form-group row">
								<table id="character_list_in_event_form_table"
									class="table table-striped table-bordered table-hover mytable midFont">
									<!-- 						人物列表表格thead -->
									<thead id="character_list_in_event_form_table_thead">
										<tr>
											<th>人物名</th>
											<th>人物属性</th>
											<th>操作</th>
										</tr>
									</thead>
									<!-- 						事件列表表格tbody -->
									<tbody id="character_list_in_event_form_table_tbody">
									</tbody>
								</table>
							</div>
							<!-- 							事件表单提交按钮 -->
							<div class="form-group">
								<input id="event_form_submit_btn" class="btn btn-primary"
									type="button" value="提交" onclick="eventFormSubmitSelectFunc();" />
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- --------------------------------人物管理器--------------------------------------------- -->
			<div id="character_manage_content_div" class="tab-item row">
				<input type="hidden" id="book_id_in_character_manage_hidden"
					value="0" />
				<!-- 			人物管理左侧容器div,二级div -->
				<div id="character_manage_left_content_div"
					class="list-group bg3 left-div">
					<!-- 					人物列表导航按钮 -->
					<a id="character_list_change_btn"
						class="list-group-item list-group-item-action bg3 active"
						onclick="changeRightWithActiveTab('character_list_rignt_div',this)">人物列表</a>
					<!-- 					    切换删除人物按钮 -->
					<a id="delete_character_change_btn"
						class="list-group-item list-group-item-action bg3"
						onclick="changeCharacterFlgAndBtnNameWithActive(this,1)">删除人物</a>
					<!-- 						切换修改信息按钮 -->
					<a id="character_message_change_btn"
						class="list-group-item list-group-item-action bg3"
						onclick="changeCharacterFlgAndBtnNameWithActive(this,2)">修改信息</a>
					<!-- 						切换查看信息按钮 -->
					<a id="character_detail_change_btn"
						class="list-group-item list-group-item-action bg3"
						onclick="changeCharacterFlgAndBtnNameWithActive(this,3)">人物详细</a>
					<!-- 						切换新增人物按钮-->
					<a id="add_character_change_btn"
						class="list-group-item list-group-item-action bg3"
						onclick="changeCharacterFlgAndBtnNameWithActive(this,5)">新增人物</a>
					<!-- 						切换查找人物按钮 -->
					<!-- 					<a id="character_select_change_btn" -->
					<!-- 						class="list-group-item list-group-item-action bg3" -->
					<!-- 						onclick="changeCharacterFlgAndBtnNameWithActive(this,6)">查找人物</a> -->
				</div>
				<!-- 				人物管理器右侧容器div，二级div -->
				<div id="character_manage_rignt_content_div" class="right-div">
					<!-- 				人物列表右侧div，三级div -->
					<div id="character_list_rignt_div" class="mytableContentFixedDiv">
						<table id="character_list_table"
							class="table table-striped table-bordered table-hover mytable midFont">
							<!-- 						人物列表表格thead -->
							<thead id="character_list_table_thead">
								<tr>
									<th>人物名</th>
									<th>人物属性</th>
									<th>性别</th>
									<th>所属势力</th>
									<th>人物简介</th>
									<th>首次出场章节</th>
									<th>出场次数</th>
									<th>创建日期</th>
									<th>上次修改</th>
									<th>操作</th>
								</tr>
							</thead>
							<!-- 						人物列表表格tbody -->
							<tbody id="character_list_table_tbody">
							</tbody>
						</table>
					</div>
					<!-- 				人物表单右侧div,三级div -->
					<div id="update_character_form_right_div" class="hidden">
						<!-- 					人物表单标题 -->
						<h1 id="update_character_title">新增人物</h1>
						<!-- 						人物表单 -->
						<form class="form-horizontal" id="update_character_form"
							role="form" action="updateBook.do" method="post">
							<div class="form-group">
								<input type="hidden" id="ch_id_text" name="chId" value="0" />
							</div>
							<div class="form-group row">
								<label for="ch_name_text" class="col-sm-2 ">人物名:</label>
								<div class="col-sm-4">
									<input type="text" id="ch_name_text" name="chName"
										class="form-control chChange" placeholder="人物名" />
								</div>
								<label for="ch_attr_sel" class="col-sm-2 ">人物属性:</label>
								<div class="col-sm-4">
									<select id="ch_attr_sel" class="form-control chChange">
										<option value="主角">主角</option>
										<option value="配角" selected>配角</option>
										<option value="龙套">龙套</option>
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label for="ch_sex_text" class="col-sm-2 ">性别:</label>
								<div class="col-sm-4">
									<select id="ch_sex_text" class="form-control chChange">
										<option value="1" selected>男</option>
										<option value="0">女</option>
									</select>
								</div>
								<label for="ch_belong_text" class="col-sm-2 ">所属势力:</label>
								<div class="col-sm-4">
									<input type="text" id="ch_belong_text" name="belong"
										class="form-control chChange" placeholder="所属势力" />
								</div>
							</div>
							<div class="form-group row"
								id="update_character_form_hidden_item">
								<label for="ch_first_appear_text" class="col-sm-2 ">首次出场章节:</label>
								<div class="col-sm-4">
									<input type="text" id="ch_first_appear_text"
										name="first_appear" class="form-control" disabled
										placeholder="首次出场章节" />
								</div>
								<label for="ch_appear_times_text" class="col-sm-2 ">出场次数:</label>
								<div class="col-sm-4">
									<input type="text" id="ch_appear_times_text" name="appearTimes"
										class="form-control" disabled placeholder="出场次数" />
								</div>
							</div>
							<div class="form-group row">
								<label for="ch_intro_text" class="col-sm-2 ">人物简介:</label>
								<div class="col-sm-10">
									<textarea placeholder="人物简介" id="ch_intro_text" name="intro"
										class="form-control chChange" rows="10"></textarea>
								</div>
							</div>
							<!-- 							人物表单提交按钮 -->
							<div class="form-group">
								<input id="character_form_submit_btn" class="btn btn-primary"
									type="button" value="提交"
									onclick="characterFormSubmitSelectFunc();" />
							</div>
						</form>
					</div>
				</div>
			</div>

			<!-- --------------------------------书籍管理器--------------------------------------------- -->
			<!-- 书籍列表容器div,一级div -->
			<div id="book_list_content_div" class="tab-item row">
				<!-- 			书籍列表左侧容器div,二级div -->
				<div id="book_list_left_content_div" class="list-group bg3 left-div">
					<!-- 					书籍列表导航按钮 -->
					<a id="book_list_change_btn"
						class="list-group-item list-group-item-action bg3 active"
						onclick="changeRightWithActiveTab('book_list_rignt_div',this)">书籍列表</a>
					<!-- 					新增/更新小说表单导航按钮 -->
					<a id="update_book_form_change_btn"
						class="list-group-item list-group-item-action bg3"
						onclick="openCreateBookFrom(this)">新增小说</a>
					<!-- 					    切换删除书籍按钮 -->
					<a id="delete_book_change_btn"
						class="list-group-item list-group-item-action bg3"
						onclick="changeFlgAndBtnNameWithActive(this,1)">删除小说</a>
					<!-- 						切换修改信息按钮 -->
					<a id="change_book_message_change_btn"
						class="list-group-item list-group-item-action bg3"
						onclick="changeFlgAndBtnNameWithActive(this,2)">修改信息</a>
					<!-- 						切换章节列表按钮 -->
					<a id="chapter_manage_change_btn"
						class="list-group-item list-group-item-action bg3"
						onclick="changeFlgAndBtnNameWithActive(this,4)">章节管理</a>
					<!-- 						切换人物列表按钮 -->
					<a id="character_manage_change_btn"
						class="list-group-item list-group-item-action bg3"
						onclick="changeFlgAndBtnNameWithActive(this,5)">人物管理</a>
					<!-- 						切换事件列表按钮 -->
					<a id="event_manage_change_btn"
						class="list-group-item list-group-item-action bg3"
						onclick="changeFlgAndBtnNameWithActive(this,6)">事件管理</a>
				</div>
				<!-- 				书籍列表右侧容器div,二级div -->
				<div id="book_list_right_content_div" class="right-div">
					<!-- 				新增/更新小说表单右侧div,三级div -->
					<div id="update_book_form_right_div" class="hidden"
						style="text-align: center">
						<!-- 					新增/更新小说标题 -->
						<h1 id="update_book_title">新增小说</h1>
						<!-- 						新增/更新小说表单 -->
						<form id="update_book_form" role="form" action="updateBook.do"
							method="post">
							<input type="hidden" id="book_id_text" name="bookId" value="0" />
							<div class="form-group">
								<input type="text" id="book_name_text" name="bookName"
									class="form-control" placeholder="小说名" />
							</div>
							<div class="form-group">
								<input type="text" id="book_type_text" name="bookType"
									class="form-control" placeholder="小说类型" />
							</div>
							<div class="form-group">
								<input type="text" id="book_tags_text" name="bookTags"
									class="form-control" placeholder="小说标签（逗号分隔）" />
							</div>
							<div class="form-group">
								<textarea placeholder="简介" id="book_intro_text" name="bookIntro"
									class="form-control"></textarea>
							</div>
							<!-- 							新增/更新小说表单提交按钮 -->
							<div class="form-group">
								<input id="update_book_form_submit_btn" class="btn btn-primary"
									type="button" value="提交" onclick="createUpdateCheck()" />
							</div>
						</form>
					</div>
					<!-- 					书籍列表右侧div,三级div -->
					<div id="book_list_rignt_div" class="mytableContentFixedDiv">
						<!-- 					书籍列表表格 -->
						<table id="book_list_table"
							class="table table-striped table-bordered table-hover mytable midFont">
							<!-- 						书籍列表表格thead -->
							<thead id="book_list_table_thead">
								<tr>
									<th>书名</th>
									<th>小说类型</th>
									<th>小说标签</th>
									<th>简介</th>
									<th>创建日期</th>
									<th>上次更新</th>
									<th>操作</th>
								</tr>
							</thead>
							<!-- 						书籍列表表格tbody -->
							<tbody id="book_list_table_tbody">
								<tr th:each="book,bookStat:${session.user.bookList}">
									<td th:text="${book.bookName}">书名</td>
									<td th:text="${book.type}">小说类型</td>
									<td th:text="${book.tags}">小说标签</td>
									<td th:text="${book.intro}">简介</td>
									<td
										th:text="${#dates.format(book.updated, 'yyyy-MM-dd HH:mm:ss')}">创建日期</td>
									<td
										th:text="${#dates.format(book.created, 'yyyy-MM-dd HH:mm:ss')}">上次更新</td>
									<td>
										<button class="btn btn-primary smFont selectFunc"
											th:onclick="'javascript:execFuncByFlg(\''+${book.id}+'\',this);'">查看章节</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<!-- --------------------------------人物关系图--------------------------------------------- -->
			<div id="people_relationship_div" class="tab-item row">人物关系图</div>

			<!-- --------------------------------我的资料--------------------------------------------- -->
			<div id="my_info_div" class="tab-item" th:object="${session.user}">
				<table>
					<tr>
						<td>id:</td>
						<td><span th:text="*{id}"></span></td>
					</tr>
					<tr>
						<td>用户名:</td>
						<td><span th:text="*{userName}"></span></td>
					</tr>
					<tr>
						<td>密码：</td>
						<td><span th:text="*{password}"></span></td>
					</tr>
					<tr>
						<td>姓名：</td>
						<td><span th:text="*{name}"></span></td>
					</tr>
					<tr>
						<td>性别：</td>
						<td><span th:text="*{sex==1 ? '男' : '女'}"></span></td>
					</tr>
					<tr>
						<td>生日：</td>
						<td><span th:text="*{#dates.format(birthday, 'yyyy-MM-dd')}"></span></td>
					</tr>
					<tr>
						<td>注册日期：</td>
						<td><span
							th:text="*{#dates.format(created, 'yyyy-MM-dd HH:mm:ss')}"></span></td>
					</tr>
					<!-- 				<tr><td>名下书籍：</td><td><span th:text="*{bookList}"></span></td></tr> -->
				</table>
			</div>

			<!-- --------------------------------章节管理器--------------------------------------------- -->
			<!-- 		章节管理器容器div,一级div -->
			<div id="chapter_manage_content_div" class="tab-item row">
				<!-- 			章节管理左侧容器div,二级div -->
				<div id="chapter_manage_left_content_div"
					class="list-group bg3 left-div">
					<!-- 					章节列表导航按钮 -->
					<a id="chapter_list_change_btn"
						class="list-group-item list-group-item-action bg3 active"
						onclick="changeRightWithActiveTab('chapter_list_rignt_div',this)">章节列表</a>
					<!-- 					新增/更新章节表单导航按钮 -->
					<a id="update_chapter_editor_change_btn"
						class="list-group-item list-group-item-action bg3"
						onclick="openCreateChapterFrom(this)">新增章节</a>
				</div>
				<!-- 				章节管理右侧容器div,二级div -->
				<div id="chapter_manage_right_content_div" class="right-div">
					<!-- 					章节列表右侧div,三级div -->
					<div id="chapter_list_rignt_div" class="mytableContentFixedDiv">
						<!-- 					章节列表表格 -->
						<table id="chapter_list_table"
							class="table table-striped table-bordered table-hover mytable midFont">
							<!-- 						章节列表表格thead -->
							<thead id="chapter_list_table_thead">
								<tr>
									<th>章节标题</th>
									<th>字数</th>
									<th>创建日期</th>
									<th>上次更新</th>
									<th>操作</th>
								</tr>
							</thead>
							<!-- 							章节列表表格tbody -->
							<tbody id="chapter_list_table_tbody">

							</tbody>
						</table>
					</div>

					<!-- 				新增/更新/查看章节右侧div,三级div -->
					<div id="update_chapter_right_div" class="hidden">
						<!-- 					章节id -->
						<!-- 					章节标题 -->
						<div class="form-inline" style="padding: 10px 0">
							<input type="text" id="update_chapter_title" name="chapterTitle"
								class="form-control col-sm-10" placeholder="章节标题" />
							<div class="col-sm-2">
								<input type="button" id="update_chapter_btn"
									class="btn btn-primary" onclick="createUpdateChapterCheck()"
									value="提交" />
							</div>
						</div>
						<div id="update_chapter_editor" class="bg0">
							<p>章节内容</p>
						</div>
					</div>

				</div>
			</div>

			<!-- ---------------------------------------------------------------------------------- -->


		</div>
	</div>
	<!-- 按钮：用于打开模态框 -->
	<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#select_file_div"> -->
	<!--   打开模态框 -->
	<!-- </button> -->

	<!-- 模态框 -->
	<div class="modal fade" id="select_file_div">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- 模态框头部 -->
				<div class="modal-header">
					<h4 class="modal-title">选择文件</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<!-- 模态框主体 -->
				<div class="modal-body">
					<form id="book_upload_form" name="book_upload_form"
						enctype="multipart/form-data" method="post">
						<div class="custom-file mb-3">
							<input type="file" class="custom-file-input"
								name="book_upload_file" id="book_upload_file"
								accept=".txt,.word" onchange="checkUploadType(this)"> <label
								class="custom-file-label" for="book_upload_file">选择文件</label>
						</div>
					</form>
				</div>

				<!-- 模态框底部 -->
				<div class="modal-footer">
					<button type="button" id="book_upload_btn" class="btn btn-primary"
						onclick="bookUpload()">提交</button>
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">关闭</button>
				</div>

			</div>
		</div>
	</div>


</body>
</html>